/* __________________________NOTES____________________________*/
ul#notes_list li {
    margin: 80px 40px 50px 0px;
    float: left;
}

ul#notes_list li, ul.tag-list li {
    list-style: none;
}

ul#notes_list li div small {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 10px;
}

div.rotate-1 {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

div.note-bg {
    background-color: #FD4848;
    color: #FFFFFF;
}

ul#notes_list li div {
    text-decoration: none;
    color: #000;
    display: block;
    height: 210px;
    width: 210px;
    padding: 1em;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.500);
    -moz-transition: -moz-transform 0.15s linear;
    -o-transition: -o-transform 0.15s linear;
    -webkit-transition: -webkit-transform 0.15s linear;
}

#div_id_count {
	word-wrap: break-word;
	overflow-x: hidden;
}

p {
	font-size: 25px;
    font-family: 'Satisfy';
}